[user]
	name = Tim
	email = tim_1008@163.com
[color]
	status = auto
	branch = auto
	diff = auto
	ui = true
	pager = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias] 
	ci = commit 
	st = status -b
	co = checkout 
	br = branch 
	pr = pull --rebase
	ss = status -s -b
	dica = diff --cached
	la = log --pretty=format:'%C(yellow)%h %C(magenta)%d %Cblue(%an): %Creset%s %C(cyan)%ad' --graph --decorate --abbrev-commit --date=short 
	ls = log --oneline --stat --date=short 
	pom = push origin master
	cp = cherry-pick
[push]
	default = simple
[core]
	editor = vim
